{% extends 'base.html' %}
{% block content %}
<title>KR_CODER</title>
<div class = "container">
  <div class="card-deck my-4 mx-5">

      <div class="card border-primary" style="max-width: 28rem;">
          <div class="card-header bg-transparent border-primary">KR_코더의 질문들</div>
          <img class="card-img-top card-header bg-transparent border-primary" src = "{{url_for('static', filename='question_list_intruduce_img.png')}}" alt = "..."/>
          <div class="card-body text-secondary">
            <h4>코딩 관련 질문</h4>
            <p>한국말이 이용된 코딩관련 KR_CORDER들의 질문과 그에 대한 답변들 직접 사용하십시오.</p>
            <p>(로그인을 안할경우 익명으로 표기됩니다.)</p>
          </div>
          <a href="{{url_for('question._list')}}" class="btn btn-primary">질문하러 가기</a>
      </div>


      <div class="card border-success" style="max-width: 28rem;">
        <div class="card-header bg-transparent border-success">KR_코더의 강의들</div>
        <img class="card-img-top card-header bg-transparent border-success" src = "{{url_for('static', filename='question_list_intruduce_img.png')}}">
        <div class="card-body text-secondary">
          <h4>코딩 관련 강의</h4>
          <p>한글을 이용한 여러가지의 강의들이 존재합니다. 직접 강의를 해보세요!!</p>
          <p>(로그인 후 사용해 주세요.)</p>
        </div>
        <a href="{{url_for('lecture._list')}}" class="btn btn-success">강의보러 가기</a>
      </div>

  </div>
</div>
{% endblock %}
