{% extends 'base.html' %}
{% block content %}
<title>{{lecture.subject}}</title>
<div class="container my-3">
    <h2 class="border-bottom py-2">{{ lecture.subject }}</h2>
    <div class="card my-3">
        <div class="card-body">
            {% for lecture_block in lecture_blocks %}
                {% if loop.index%2 == 1 %}
                    <div class="card-text" style="white-space: pre-wrap;">{{ lecture_block }}</div>
                {% else %}
                    <code style="white-space: pre-wrap;">{{ lecture_block }}</code>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}